.review__posts {
  display: flex;
  flex-direction: column;
  gap: var(--px-small-3);
  mragin-top: var(--px-small-3);
  justify-content: center;
  align-items: center;
}

.error {
  color: var(--clr-danger);
}

.post__avatar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.post__figure {
  position: relative;
  flex-shrink: 1;
  width: 10vw;
}

.review__post__wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--px-small-3);
  margin-top: var(--px-big-2);
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  padding: var(--px-small-3);
  background-color: var(--clr-secondary);

}
