<div class="review__posts">
  <div class="review__post">
    <div class="review__post__wrapper">
      <figure class="post__figure"><img class="post__avatar" src="assets/background.png" alt=""></figure>
      <div class="post__details">
        <p class="post__user">Spiderman</p>
        <p class="post__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In itaque
          minus odio
          placeat, repellendus
          repudiandae rerum tenetur? Animi atque culpa cupiditate dicta doloremque fuga illo, ipsum
          officia
          quidem, rerum sapiente.</p>
      </div>
    </div>

    <app-post-comments></app-post-comments>

  </div>
</div>
