<app-new-review [postsList]="posts" *ngIf="user|async"></app-new-review>
<div class="review__posts">
  <ng-template #review>
    <div class="review__post" *ngFor="let post of posts">
      <div class="review__post__wrapper">
        <figure class="post__figure"><img class="post__avatar" src={{post.user.avatar}} alt=""></figure>
        <div class="post__details">
          <a routerLink="/auth/profile/{{post?.user?.username}}#{{post?.user?.user_tag}}"
            class="post__user">{{post.user.username}}#{{post.user.user_tag}}</a>
          <p class="post__content" [innerHTML]="post?.content"></p>
        </div>
        <div class="post__pin"><i id="{{post.user.username}}#{{post.user.user_tag}}" (click)="pinPost(post)" 
          [ngClass]="getClass(post)"
          class="fa-solid fa-thumbtack"></i></div>
      </div>
      <app-post-comments [comments]="post?.comments"></app-post-comments>
    </div>
    <p class="error">{{getReviewError}}</p>
  </ng-template>

  <ng-template #errorTemplate>
    <p class="error">
      {{errorDetail}}
    </p>
  </ng-template>
  <ng-container *ngTemplateOutlet="(error || !posts) ? errorTemplate: review"></ng-container>
  <div>
    <app-spinner *ngIf="isLoading"></app-spinner>
    <button (click)="loadPostHandler()" class="btn-primary"> Load Posts</button>
  </div>

</div>