#profile {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 70vw;
  gap: var(--px-small-3);
}

.profile__figure {
  border: solid 2px var(--clr-darkblue);
  border-radius: 50%;
  width: var(--px-big-3);
  height: var(--px-big-3);
  overflow: hidden;
}

.profile__image {
  width: 100%;
  object-fit: fill;
  object-position: center, center;
}

.profile__card, .profile__addons {
  margin-top: var(--px-big-2);
  background-color: var(--clr-secondary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: var(--px-small-2);
  height: 100%;
  min-height: 60vh;
}

.profile__addons {
  align-self: flex-start;
  width: 40vw;
  flex-grow: 1;
}

.profile__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 100%;
}

.profile__data .profile__figure {
  margin-top: var(--px-small-3);
}

.display__btn__grp, .form__button__group {
  margin-left: 30px
}

.btn-primary, .btn-secondary {
  margin-right: 30px;
  width: 30%;
  margin-top: 50px;
}

form .profile__data__text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

form .profile__data__text input, form .profile__data__text select {
  flex-basis: 66%;
  width: 66%;
  margin-top: var(--px-small-2);
}

form .profile__data__text .form__bio {
  height: var(--px-big-3);
  border: 2px solid var(--clr-darkblue);
  border-radius: 7px;
  resize: vertical;
  background: var(--clr-grey);
  color: var(--clr-font);
  word-wrap: break-word;
  overflow-x: hidden;
  margin-top: var(--px-small-2)
}

form .profile__data__text .user_wrapper {
  width: 66%;
}

form .profile__data__text .user_wrapper input {
  width: 100%;
}


form .profile__data__text label {
  flex-basis: 33%;
  width: 33%;
  font-size: var(--px-small-2);
  font-weight: bold;
  margin-top: var(--px-small-2);
}


input {

  background: var(--clr-grey);
  color: var(--clr-font);
  height: 25px;
  text-indent: 16px;
  width: 100%;
}
