<section id="profile">


  <div class="profile__card">
    <ng-container *ngTemplateOutlet="(isShown)?profileData:formProfileData"></ng-container>
    <ng-template #profileData>
      <div class="profile__data">
        <figure class="profile__figure">
          <img class="profile__image" src="/assets/background.png" alt="avatar">
        </figure>
        <div class="profile__data__text">
          <p class="profile__username"><label>Username:</label>{{profile.user.username}}</p>
          <p class="profile__email"><label>Email:</label>{{profile.email}}</p>
          <p class="profile__created"><label>Age:</label>{{profile?.birthday|date:'medium'}}</p>
          <p class="profile__created"><label>Gender:</label>{{profile?.gender}}</p>
          <label>Bio:</label>
          <p class="profile__bio">{{profile?.description}}</p>
        </div>
      </div>
      <div *ngIf="(user$|async)?.username===profile.user.username&&(user$|async)?.tag===profile.user.user_tag"
           class="display__btn__grp">
        <button type="button" class="btn-primary" (click)="isShown=!isShown">Edit</button>
        <button type="button" class="btn-secondary">Delete</button>
      </div>
    </ng-template>


    <ng-template #formProfileData>
      <form class="profile__data" [formGroup]="form" (ngSubmit)="saveProfile()">

        <div class="profile__data__text">
          <label>Username:</label>
          <div class="user_wrapper" formGroupName="user">
            <input formControlName="username" type="text">
          </div>
          <label>Email:</label> <input type="email" formControlName="email">
          <label>Birthdate:</label> <input type="date" formControlName="birthday">
          <label>Gender:</label>
          <select name="gender" id="gender" formControlName="gender">
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>
          <label>Avatar:</label><input type="image" formControlName="avatar">
          <label>Bio:</label>
          <textarea class="form__bio" name="bio" formControlName="description"></textarea>
        </div>
        <div class="form__button__group">
          <button type="submit" class="btn-primary">Save</button>
          <button type="button" class="btn-secondary" (click)="isShown=!isShown">Back</button>
        </div>
      </form>
    </ng-template>
  </div>
  <div class="profile__addons">

  </div>
</section>
