<div id="login">
  <p class="login__title">Sign In</p>
  <form #loginForm="ngForm" (submit)="loginHandler(loginForm)" class="login__form" enctype="multipart/form-data">
    <input #emailLogin="ngModel" ngModel class="login__input" name="email" placeholder="Email" type="text"
           required email>
    <ng-container *ngIf="emailLogin.touched">
      <p class="error" *ngIf="emailLogin.errors?.['required']">
        Username is required!
      </p>
      <p class="error" *ngIf="emailLogin.errors?.['email']">
        Please enter email!
      </p>
    </ng-container>
    <input #passwordLogin="ngModel" ngModel class="login__input" name="password" placeholder="Password" type="password"
           required
           [minlength]="6">
    <ng-container *ngIf="passwordLogin.touched">
      <p class="error" *ngIf="passwordLogin.errors?.['required']">
        Password is required!
      </p>
      <p class="error" *ngIf="passwordLogin.errors?.['minlength']">
        Password must be at least 6 characters!
      </p>
    </ng-container>
    <div *ngFor="let error of nonFieldErrors">
      <p class="error">{{error}}</p>
    </div>
    <button class="login__btn" [disabled]="loginForm.invalid">Login</button>
    <div class="login__additional">
      <input #isRemembered class="login__checkbox" type="checkbox" checked><label>Remember me</label>
      <p class="login__redirect">New to AnimeCatalog? <a routerLink="/auth/register">Sign up now</a></p></div>
  </form>
</div>
