
#login {
  width: 450px;
  height: 500px;
  margin-top: var(--px-big-2);
  padding-top: var(--px-small-3);
  background-color: var(--clr-secondary);
  opacity: 0.75;
}

#login .login__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

#login .login__title {
  font-size: var(--px-small-4);
  margin: var(--px-small-4);
  font-weight: 500;
  color: var(--clr-darkblue)
}

#login .login__input {
  background: var(--clr-grey);
  color: var(--clr-font);
  height: 50px;
  text-indent: 16px;
  width: 80%;
}

#login .login__btn {
  background-color: var(--clr-danger);
  padding: var(--px-small-3);
  width: 80%;
  color: var(--clr-font);
}

#login .login__additional {
  align-self: start;
  margin-left: var(--px-big-1);
  color: var(--clr-font);
}

#login .login__additional .login__checkbox {
  height: var(--px-small-3);
  filter: sepia(100%) brightness(80%) hue-rotate(170deg) saturate(70%) contrast(300%);
}

#login .login__additional label {
  color: var(--clr-font);
}

#login .login__additional .login__redirect {
  margin-top: var(--px-small-4);
  color: var(--clr-font);
}

.error {
  color: var(--clr-danger);
}
