<section id="search">
  <h1 class="search__heading">Search Your Favourite Titles!!!</h1>
  <form class="search__form" method="post" action="index-template.html">
    <label for="search-input" style="display: none">Search</label>
    <input id="search-input" type="text" placeholder="Type in your favourite shows...">
    <button type="submit" class="btn-primary search-btn">SEARCH</button>
    <label> Sort Result:</label>
    <input id="by-title" type="checkbox"><label for="by-title">By Title</label>
    <input id="by-genre" type="checkbox"><label for="by-genre">By Genre</label>
    <input id="by-year" type="checkbox"><label for="by-year">By Year</label>
  </form>
</section>
