.carousel__grid__item {
  overflow: hidden;
  background-color: var(--clr-secondary);
  border-radius: var(--px-small-3);
  min-width: 300px;
}

.carousel__grid__item:hover {
  transform: scale(1.06);
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
}

.carousel__item__figure {
  margin: calc(-1 * var(--px-small-1)) calc(-1 * (var(--px-small-2)));
  padding: 0;
  display: block;
  height: 40%;
  overflow: hidden;
}

.carousel__item__image {
  object-fit: fill;
  object-position: center center;
  width: 100%;
  height: var(--px-big-4);
  pointer-events: none;
}

.carousel__item__details {
  margin: var(--px-small-1);
  min-height: var(--px-big-4);

}

.carousel__item__title {
  font-size: var(--px-small-4);
  font-weight: 700;
}

.carousel__item__description {
  text-align: left;
  min-height: 120px;
}

#carousel .carousel__grid .carousel__grid__item .btn-primary,
#carousel .carousel__grid .carousel__grid__item .btn-secondary {
  margin-top: var(--px-small-3);
}

.showDetails {
  position: relative;
  width: 30vw;
  z-index: 4;
}
