<section id="search">
  <h1 class="search__heading">Search Your Favourite Titles!!!</h1>
  <form
    (submit)="submitSearch()"
    class="search__form"
    method="post"
    action="index-template.html"
  >
    <label for="search-input" style="display: none">Search</label>
    <div
      name="search-input"
      pattern="[a-zA-Z0-9]+"
      (focus)="this.hidden = false; this.destroy = false"
      (blur)="this.hidden = true"
      (keydown)="onKeyDown($event)"
      (input)="onInput($event)"
      #searchInput
      id="search-input"
    >
        <span
          *ngFor="let genre of genre$ | async"
          class="chip"
          >{{ genre }}
          <i (click)="removeChip('Genre', genre)" class="fa-solid fa-xmark"></i
        ></span>
        <span
          *ngFor="let year of year$ | async"
          class="chip"
          >{{ year }}
          <i (click)="removeChip('Year', year)" class="fa-solid fa-xmark"></i
        ></span>

    </div>

    <button type="submit" class="btn-primary search-btn">SEARCH</button>
    <div
      *ngIf="!destroy"
      (destroyed)="destroy = !$event"
      [hidden]="!hidden"
      SlideInOut
      class="search__form__menu"
    >
      <ul role="list" class="menu__info">
        Search Options:
        <li>Genre:...</li>
        <li>Year:...</li>
      </ul>
      <ng-container
        *ngTemplateOutlet="(isTyping$ | async) ? loader : header"
      ></ng-container>
      <ng-template #header>
        <h2 class="menu__header">
          Type in your favourite shows...
        </h2></ng-template
      >
      <ng-template #loader>
        <app-spinner class="menu__spinner"></app-spinner
      ></ng-template>
    </div>
  </form>
</section>
