<section id="search">
  <h1 class="search__heading">Search Your Favourite Titles!!!</h1>
  <form class="search__form" method="post" action="index-template.html">
    <label for="search-input" style="display: none">Search</label>
    <input
      (focus)="this.hidden = false; this.destroy = false"
      (blur)="this.hidden = true"
      #searchInput
      id="search-input"
      type="text"
      placeholder="Type in your favourite shows..."
    />
    <button type="submit" class="btn-primary search-btn">SEARCH</button>
    <div
      *ngIf="!destroy"
      (destroyed)="destroy = !$event"
      [hidden]="!hidden"
      SlideInOut
      class="search__form__menu"
    >
      <p class="menu__info">
        You can separate your search parameters by name,genre and year by
        pressing tab.
      </p>
      <ng-container
        *ngTemplateOutlet="(isTyping$ | async) ? loader : header"
      ></ng-container>
      <ng-template #header>
        <h2 class="menu__header">
          Type in your favourite shows...
        </h2></ng-template
      >
      <ng-template #loader>
        <app-spinner class="menu__spinner"></app-spinner
      ></ng-template>
    </div>
    <label> Search By:</label>
    <input id="by-title" type="checkbox" /><label for="by-title"
      >By Title</label
    >
    <input id="by-genre" type="checkbox" /><label for="by-genre"
      >By Genre</label
    >
    <input id="by-year" type="checkbox" /><label for="by-year">By Year</label>
  </form>
</section>
