#search {
  margin-top: var(--px-big-2);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#search .search__heading {
  color: var(--clr-salmon);
  font-size: var(--ms-scale-6);
  margin-bottom: var(--px-big-1);
}

#search .search__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

#search .search__form .searchInput {
  background-color: var(--clr-grey);
  color: var(--clr-font);
  border-radius: var(--px-big-1);
  flex-basis: 80%;
  z-index: 2;
  border: none;
  line-height: normal;
  text-indent: var(--px-small-2);
  height: var(--px-big-1);

  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  font: -moz-field;
  font: -webkit-small-control;
  padding: 12px;
  width: var(--px-big-5);
  overflow-x: hidden;
  overflow-y: clip;
  white-space: nowrap;
}

#search .search__form #search-input {
  border: none;
  outline: none;
  color: var(--clr-font);
  background: inherit;
  // width: calc(100% - var(--px-small-2));
}
// #search .search__form #search-input .clearfix::after {
//   content: "";
//   display: table;
//   clear: both;
// }

#search .search__form .chip {
  background-color: var(--clr-darkblue);
  color: var(--clr-font);
  border-radius: var(--px-small-2);
  padding: 5px;
  margin-right: var(--px-small-1);
  display: inline-block;
}
#search .search__form .chip .fa-xmark {
  display: inline;
  font-size: large;
}

#search .search__form #search-input::placeholder {
  text-indent: var(--px-small-4);
}

#search .search__form .search-btn {
  position: relative;
  left: calc(-1 * (var(--px-small-3)));
  width: 20%;
  padding-left: var(--px-small-4);
  border: none;
  border-radius: 0 var(--px-big-1) var(--px-big-1) 0;
  z-index: auto;
  font-size: 1vw;
}

// Don't Uncomment this If you want to Live
//#search .search__form .search-btn:before {
//  content: "";
//  position: absolute;
//  background-blend-mode: normal;
//  height: calc(100% + var(--px-small-1));
//  width: 100%;
//  border-radius: 0 var(--px-big-1) var(--px-big-1) 0;
//  top: calc(-1 * var(--px-small-1) / 2);
//  right: 100px;
//}

#search .search__form label {
  color: var(--clr-darkblue);
}

#search .search__form__menu {
  position: absolute;
  border: 1px solid var(--clr-darkblue);
  width: 80%;
  height: var(--px-big-5) !important;
  background-color: var(--clr-bg);
  top: var(--px-big-1);
  left: 0;
  z-index: 99;
  display: grid;
  grid-template-rows: 30% 1fr;
  grid-template-columns: 1fr;
}

#search .menu__info {
  margin: var(--px-small-3);
  color: var(--clr-darkblue);
  font-size: var(--px-small-2);
  overflow-y: scroll;
}
#search .menu__info .sticky__container {
  position: sticky;
  top: 0;
  background-color: var(--clr-bg);
  z-index: 1;
}
#search .menu__info .sticky__container h3 {
  padding: 0 var(--px-small-2) var(--px-small-2);
}
#search .menu__info .sticky__container p {
  font-size: var(--px-small-3);
  font-weight: bold;
  font-color: var(--clr-danger);
}

#search .menu__header {
  font-size: var(--px-big-1);
  place-self: center;
  color: var(--clr-darkblue);
  margin: var(--px-small-3);
}
#search .menu__spinner {
  place-self: center;
}

#search .search__form__menu .menu__info h3 {
  color: var(--clr-danger);
  border-bottom: 1px solid var(--clr-danger);
}

#search .search__form__menu .menu__info li:hover {
  background: var(--clr-grey);
}

#search .tooltip {
  position: absolute;
  top: calc(-1*var(--px-big-1));
  left: 25%;
  transform: translateX(-50%);
  display: inline-block;
  background-color: var(--clr-salmon);
  border-radius: 4px;
  padding: 8px;
  color: var(--clr-font);
  font-size: var(--px-small-2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search .tooltip::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: var(--clr-salmon) transparent transparent transparent;
}