<section id="search">
  <h1 class="search__heading">Search Your Favourite Titles!!!</h1>
  <form
    [formGroup]="form"
    (ngSubmit)="submitSearch()"
    class="search__form"
    method="post"
    action="index-template.html"
  >
    {{ form.value | json }}
    <label for="search-input" style="display: none">Search</label>
    <div
      name="search-input"
      contenteditable="true"
      pattern="[a-zA-Z0-9]+"
      (focus)="this.hidden = false; this.destroy = false"
      (blur)="this.hidden = true"
      (keydown)="onKeyDown($event)"
      (input)="onInput($event)"
      #searchInput
      id="search-input"
      type="text"
      formControlName="search"
      ngDefaultControl
    >
      <ng-container formArrayName="chips">
          <div
            class="chip"
            name="chip"
            class="chip-container"
            *ngFor="let chip of chips.controls; let i = index"
          >
          <input [hidden]="true" formControlName="{{i}}">
            <span contenteditable="false" class="chip">
              {{chip.value}}
              <i (click)="removeChip(chip.value)" class="fa-solid fa-xmark"></i></span>
          </div>
      </ng-container>
    </div>

    <button type="submit" class="btn-primary search-btn">SEARCH</button>
    <div
      *ngIf="!destroy"
      (destroyed)="destroy = !$event"
      [hidden]="!hidden"
      SlideInOut
      class="search__form__menu"
    >
      <ul role="list" class="menu__info">
        Search Options:
        <li>Genre:...</li>
        <li>Year:...</li>
      </ul>
      <ng-container
        *ngTemplateOutlet="(isTyping$ | async) ? loader : header"
      ></ng-container>
      <ng-template #header>
        <h2 class="menu__header">
          Type in your favourite shows...
        </h2></ng-template
      >
      <ng-template #loader>
        <app-spinner class="menu__spinner"></app-spinner
      ></ng-template>
    </div>
  </form>
</section>
