<div id="register">
  <p class="register__title">Sign Up</p>
  <form enctype="multipart/form-data" #registerForm="ngForm" (ngSubmit)="registerHandler(registerForm)"
        class="register__form">
    <input #usernameRegister="ngModel" ngModel name="username" class="register__input" placeholder="Username"
           type="text" required onlyLetters>
    <ng-container *ngIf="usernameRegister.touched">
      <p class="error" *ngIf="usernameRegister.errors?.['required']">
        Username is required!
      </p>
      <p class="error" *ngIf="usernameRegister.errors?.['onlyLetters']">
        Username must only contain letters!
      </p>
    </ng-container>
    <div *ngFor="let error of internalUsernameError">
      <p class="error">{{error}}</p>
    </div>
    <input #emailRegister="ngModel" ngModel class="register__input" name="email" placeholder="Email" type="email"
           required email>
    <ng-container *ngIf="emailRegister.touched">
      <p class="error" *ngIf="emailRegister.errors?.['required']">
        Email is required!
      </p>
      <p class="error" *ngIf="emailRegister.errors?.['email']">
        Email must be of correct format!
      </p>
    </ng-container>
    <div *ngFor="let error of internalEmailError">
      <p class="error">{{error}}</p>
    </div>
    <div class="file-upload-wrapper" data-text="Upload Avatar (Optional)">

      <input (change)="changeName($event)" ngModel #fileRegister="ngModel" name="avatar" type="file"
             class="file-upload-field" imageValidator>
    </div>
    <ng-container *ngIf="fileRegister.touched">
      <p class="error" *ngIf="fileRegister.errors?.['invalidType']">
        Your avatar must be a jpg, jpeg or png file!
      </p>
      <p class="error" *ngIf="fileRegister.errors?.['invalidSize']">
        Your avatar must be less than 5MB in size!
      </p>
      <div *ngFor="let error of internalAvatarError">
      <p class="error">{{error}}</p>
    </div>
    </ng-container>
    <input ngModel #passwordRegister="ngModel" name="password" class="register__input" placeholder="Password"
           type="password" required [minlength]="6">
    <ng-container *ngIf="passwordRegister.touched">
      <p class="error" *ngIf="passwordRegister.errors?.['required']">
        Password is required!
      </p>
      <p class="error" *ngIf="passwordRegister.errors?.['minlength']">
        Password must be at least 6 characters!
      </p>
    </ng-container>
    <input ngModel #repasswordRegister="ngModel" name="repassword" class="register__input" placeholder="RePassword"
           type="password" [matchPassword]="passwordRegister.value">
    <ng-container *ngIf="repasswordRegister.touched">
      <p class="error" *ngIf="repasswordRegister.errors?.['matchPassword']">
        Passwords don't match!
      </p>
    </ng-container>
    <button class="register__btn" [disabled]="registerForm.invalid">Register</button>
    <div class="register__additional">
      <input class="register__checkbox" type="checkbox"><label>Remember me</label>
      <p class="register__redirect">Already have an account? <a routerLink="/auth/login">Sign in now</a></p></div>
  </form>
</div>

