:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review__form {
    display: flex;
    flex-direction: column;
    margin-top: var(--px-big-2);
    justify-content: center;
    align-items: center;
    gap: var(--px-small-2);
}

.review__input::placeholder {
    text-align: center;
    padding-top: 50px;
    font-size: var(--px-big-2);
}
.review__input:focus::placeholder{
    color:transparent;
}

.review__input:focus {
    outline: none;
    border-color: var(--clr-primary);
    box-shadow: 0 0 10px var(--clr-darkblue);
}

.btn-review{
  width: 20vw;
}
:host div .ck-blurred{
    width: 80vw;
    height: var(--px-big-4);
    border: 2px solid var(--clr-darkblue);
    border-radius: 7px;
    resize: vertical;
    background:var(--clr-grey);
    color: var(--clr-font);
}
.ck.ck-editor__editable_inline{
    margin-top:var(--px-small-4);
    width: 80vw;
    height: var(--px-big-4);
    border: 2px solid var(--clr-darkblue);
    border-radius: 7px;
    resize: vertical;
    background:var(--clr-grey);
    color: var(--clr-font);
  word-wrap:break-word;
  overflow-x: hidden;
}

.error {
  color: var(--clr-danger);
}
