<form #form="ngForm" ngForm class="review__form" (ngSubmit)="postHandler(form)">
  <div class="post-buttons">
    <button type="submit" class="btn-primary btn-review">Post</button>
    <button (click)="dropdownHandler()" type="button" class="btn-primary btn-split"><i
        class="fa-solid fa-angles-down"></i></button>
  </div>
    <ckeditor *ngIf="destroy" (destroyed)="destroy=$event" [hidden]="hidden" SlideInOut [editor]="Editor" [(ngModel)]="model.editorData" name="content" tagName="div" data=""
      class="review__input">
    </ckeditor>
      <p class="error">{{error}}</p>
</form>