.site-footer{
    margin-top: var(--px-big-4);
    background-color: var(--clr-darkblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--px-big-2);
    gap:var(--px-small-1);
}
.site-footer .footer__nav{
    width: 100%;
}

.site-footer .footer__nav .footer__nav__list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.site-footer .footer__nav .footer__nav__list .footer__nav__item a{
    color:var(--clr-secondary);
}
.separator{
    background-color: var(--clr-white);
    width: 1px;
}
