<footer class="site-footer">
  <nav class="footer__nav">
    <ul role="list" class="footer__nav__list">
      <li class="footer__nav__item"><a href="#">Home</a></li>
      <li class="separator" aria-hidden="true" role="presentation"></li>
      <li class="footer__nav__item"><a href="#">About</a></li>
      <li class="footer__nav__item"><a href="#">Contact Us</a></li>
      <li class="separator" aria-hidden="true" role="presentation"></li>
      <li class="footer__nav__item"><a href="#">Login</a></li>
      <li class="footer__nav__item"><a href="#">Sign Up</a></li>
    </ul>
  </nav>
  <span class="footer__text">MyAnimeCatalog is a property of Me, Myself and I. &copy;2022 All Rights Reserved.</span>
</footer>
