<div class="review__flex">
  <figure class="review__figure">
    <img class="review__image" src="{{anime.image}}" alt="">
  </figure>
  <div class="review__content">
    <p class="review__title">{{anime.title}}</p>
    <p class="review__synopsis">{{anime.description}}</p>
    <div class="review__stats__flex">
      <div class="review__stats__left">
        <ul role="list" class="review__data">
          <li class="review__data__genre">Genres:
            <ul class="review__data__genres" role="list">
              <li *ngFor="let value of anime.genres;let i = index"><a href="#">{{value}} {{i === value.length ? '' :
                  ',&nbsp;' }}</a></li>
            </ul>
          </li>
          <li>Episodes: {{anime.episodes || '?'}}</li>
          <li>Date: {{anime.date_begin|date:'mediumDate'}}
            - {{(anime .date_ended|date:'mediumDate') || 'Ongoing'}}</li>
          <li><a href="#">Add to Watch List</a></li>
        </ul>
      </div>
      <div *ngIf="user"  class="review__stats__right">
        <app-star-rating [user]="user" [anime]="anime"></app-star-rating>
        <div class="likes" >
          <button
            [ngStyle]="{'filter':(likeState == null)?'grayscale(100%)': (likeState==false)?'grayscale(100%)': 'none'}"
            (click)="likeHandler()" class="button-like btn-green" id="green">
            <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
          </button>
          <button
            [ngStyle]="{'filter':(likeState == null)?'grayscale(100%)': (likeState==true)?'grayscale(100%)': 'none'}"
            (click)="dislikeHandler()" class="button-like btn-red" id="red"><i class="fa fa-thumbs-down fa-lg"
              aria-hidden="true"></i></button>
          <span class="likes__span">{{anime.total_likes}} Likes/ {{anime.total_dislikes}} Dislikes</span>
        </div>
      </div>
    </div>
  </div>
</div>