<div class="review__flex">
  <figure class="review__figure">
    <img class="review__image" src="https://static.anmedm.com/media/imagesv2/2022/12/Lupin-The-ZERO.jpg"
         alt="">
  </figure>
  <div class="review__content">
    <p class="review__title">LUPIN ZERO</p>
    <p class="review__synopsis">How did this young boy become notorious gentleman thief "Lupin III"? Loosely
      based on Young Lupin III
      from the original manga, Lupin Zero will tell a nostalgic, yet brand new original story, finally
      lifting the veil cast upon Lupin III's humble beginnings. Set during the era in which the original
      series was first published, the anime depicts Young Lupin III running around the streets of 1960's
      Japan during the country's economic boom. A young boy climbs the staircase to villainhood. What was
      he thinking and what steps did he take? This is the untold origin story of the world's greatest
      thief.</p>
    <div class="review__stats__flex">
      <div class="review__stats__left">
        <ul role="list" class="review__data">
          <li class="review__data__genre">Genres:
            <ul class="review__data__genres" role="list">
              <li><a href="#">Comedy</a>,</li>
              <li><a href="#">Action</a>,</li>
              <li><a href="#">Romance</a></li>
              <li><a href="#">Romance</a></li>
              <li><a href="#">Romance</a></li>
              <li><a href="#">Romance</a></li>
            </ul>
          </li>
          <li>Episodes: 24</li>
          <li>Date: 1995 - Ongoing</li>
          <li><a href="#">Add to Watch List</a></li>
        </ul>
      </div>
      <div class="review__stats__right">
        <app-star-rating></app-star-rating>
        <div class="likes">
          <button class="btn-like btn-green" id="green"><i class="fa fa-thumbs-up fa-lg"
                                                           aria-hidden="true"></i></button>
          <button class="btn-like btn-red" id="red"><i class="fa fa-thumbs-down fa-lg"
                                                       aria-hidden="true"></i></button>

          <span class="likes__span">85 Likes/ 3 Dislikes</span>
        </div>
      </div>
    </div>
  </div>
</div>
