#carousel {
  margin-top: var(--px-big-3);
  text-align: center;
}


#carousel .carousel__title {
  font-size: var(--ms-scale-2);
  font-weight: 700;
  color: var(--clr-black);
  margin: var(--px-small-2);
}

#carousel .carousel__title .active {
  color: var(--clr-darkblue);
}


#carousel .carousel__grid {
  margin-top: var(--px-small-2);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: self-start center;
  gap: var(--px-small-2);
}
