.carousel__grid__item {
  background-color: var(--clr-secondary);
  border-radius: var(--px-small-3);
  overflow: hidden;
  padding: var(--px-small-1) var(--px-small-2);

}

.carousel__grid__item:hover {
  transform: scale(1.06);
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09);
}

.carousel__item__figure {
  margin: calc(-1 * var(--px-small-1)) calc(-1 * (var(--px-small-2)));
  padding: 0;
  display: block;
  height: 40%;
}

.carousel__item__image {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: var(--px-big-4);
}

.carousel__item__title {
  font-size: var(--px-small-4);
  font-weight: 700;
}

#carousel .carousel__grid .carousel__grid__item .btn-primary,
#carousel .carousel__grid .carousel__grid__item .btn-secondary {
  margin-top: var(--px-small-3);
}
