<header class="site-header">
  <div class="unauthenticated">
    <ng-container *ngIf="!(user$|async)">
      <a class="btn-primary" routerLink="auth/register"><i class="fa-regular fa-pen-to-square"></i> Sign Up</a>
    </ng-container>
    <ng-container *ngIf="(user$|async)">
      <div>
        <a class="profile-btn btn-primary"
           routerLink="auth/profile/{{(user$|async)?.username}}"><i class="fa-solid fa-user"></i> Profile</a>
        <a class="profile-btn btn-primary" routerLink="/"><i class="fa-solid fa-home"></i> Home</a>
        <p class="welcome">Welcome, {{(user$|async)?.username}}!</p>
      </div>
    </ng-container>
    <time id="date-time">{{time$|async}}</time>
    <div>
      <a *ngIf="!(user$|async)" class="btn-primary" routerLink="auth/login"><i
        class="fa-solid fa-arrow-up-right-from-square"></i> Sign In</a>
      <button *ngIf="(user$|async)" class="btn-primary" (click)="logout()"><i
        class="fa-solid fa-right-from-bracket"></i> Sign Out
      </button>
      <app-toggle [label]="label"></app-toggle>
    </div>
  </div>
</header>
