<form #starForm="ngForm" (ngSubmit)="submitHandler(starForm)"> Rate this Anime:
    <span class="star-rating">
        <input (change)="starForm.ngSubmit.emit()" #one="ngModel" ngModel name="one" type="radio" name="rating" value=1><i></i>
        <input (change)="starForm.ngSubmit.emit()" #two="ngModel" ngModel name="two" type="radio" name="rating" value=2><i></i>
        <input (change)="starForm.ngSubmit.emit()" #three="ngModel" ngModel name="three" type="radio" name="rating" value=3><i></i>
        <input (change)="starForm.ngSubmit.emit()" #four="ngModel" ngModel name="four" type="radio" name="rating" value=4><i></i>
        <input (change)="starForm.ngSubmit.emit()" #five="ngModel" ngModel name="five" type="radio" name="rating" value=5><i></i>
    </span>
    <label class="star-label">{{(anime.average_rating!=null)?anime.average_rating:0}}/5</label>
</form>